<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.ActiveMapper">

    <!-- 添加活动功能 -->
    <insert id="addActive">
        insert into
            active
        values
            (null,#{title},#{context},#{community},#{communityList},
             #{startTime},#{endTime},#{createTime},#{updateTime}
                ,#{updateBy},#{createBy},#{status},#{delFlag})
    </insert>

    <!-- 修改活动功能 -->
    <update id="updateActiveById">
        update active
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="context != null and context != ''">
                context = #{context},
            </if>
            <if test="community != null">
                community = #{community},
            </if>
            <if test="communityList != null and communityList != ''">
                community_list = #{communityList},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="true">
                update_by = #{updateBy},update_time=#{updateTime},
            </if>
        </set>
        where
            id = #{id}
    </update>

    <!-- 根据id删除活动 -->
    <delete id="deleteActiveById">
        delete from
            active
        where
            id = #{id}
    </delete>

    <!-- 查询所有活动信息 -->
    <select id="findAll" resultType="com.gsxy.core.pojo.Active">
        select
            *
        from
            active
        limit 0,15
    </select>

    <!-- 根据id查询活动 -->
    <select id="selectActiveById" resultType="java.lang.Long">
        select
            *
        from
            active
        where
            id = #{id}
    </select>

    <!-- 根据title进行模糊查询 -->
    <select id="pagingQueryByTitleBo" resultType="com.gsxy.core.pojo.Active"
            parameterType="com.gsxy.core.pojo.bo.ActivePagingQueryByTitleBo">
        select
            *
        from
            active
        where
            title like concat('%',#{title},'%')
          and
            status = #{status}
          and
            del_flag = #{delFlag}
    </select>

</mapper>