<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.CommunityMapper">
    <!--
        @author zhuxinyu 2023-10-24
            添加社团
    -->
    <insert id="addcommunity">
        insert into
            Community
        values
            (null, #{name},
             #{introduce},#{communityId},
             #{createBy}, #{createTime},
             #{updateBy}, #{updateTime},
             #{status}, #{delFlag} ,#{remark})
    </insert>
    <!--
        @author zhuxinyu 2023-10-24
           删除社团
    -->
    <delete id="deleteByIdcommunity">
        delete from Community where id = #{id}
    </delete>
    <!--
        @author zhuxinyu 2023-10-24
           查找社团
    -->
    <select id="selectByIdcommunity" resultType="com.gsxy.core.pojo.Community">
        select * from Community where id = #{id} 
    </select>
    <!--
        @author zhuxinyu 2023-10-30
            根据社团查找所有用户
    -->
    <select id="communityAndUser" resultType="com.gsxy.core.pojo.bo.CommunityAndUserBo">
        SELECT
            t1.name,
            t1.student_id,
            t1.college,
            t1.professional,
            t1.org,
            t1.grade,
            t1.create_time,
            t1.update_time
        FROM
            community_user t2
                LEFT JOIN user t1 ON t1.id = t2.user_id
                LEFT JOIN community t3 ON t2.community_id = t3.community_id;
    </select>
    <!--
        @author zhuxinyu 2023-10-24
           更新社团
    -->
    <update id="updateByIdcommunity">
        update Community
        <set>
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="introduce != null and introduce != '' ">
                introduce = #{introduce},
            </if>
            <if test="communityId != null ">
                community_id = #{communityId},
            </if>
            <if test="createBy != null ">
                create_by = #{createBy},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="remark">
                remark = #{remark}
            </if>
        </set>
        where
        id = #{id}
    </update>
    <!--
       @author zhuxinyu 2023-10-30
       分页获取用户数据集合
   -->
    <select id="communityPagingToGetData" resultType="com.gsxy.core.pojo.Community"
            parameterType="com.gsxy.core.pojo.bo.CommunityPagingToGetDataBo">
        select
        *
        from
        community
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%') and
            </if>
        </where>
        status = #{status} and
        del_flag = #{delFlag}
        limit
        #{start},#{size}
    </select>
</mapper>