<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.NoticeMapper">


    <!--
         @author Oh… Yeah!!! 2023-10-27
         用户查看通知
    -->

    <select id="selectByIdNotice" resultType="com.gsxy.core.pojo.Notice" parameterType="java.lang.Long">
        select
            *
        from
            notice no
                inner join
            notice_with_user nu
            on
                nu.user_id = #{userId}
        where
            nu.notice_id = no.id;
    </select>


    <!--
          @author Oh… Yeah!!! 2023-10-24
          根据Id删除数据
    -->
    <delete id="deleteByIdNotice" parameterType="java.lang.Long">
        delete from
            notice
        where
            id = #{id}
    </delete>


    <!--
         @author Oh… Yeah!!! 2023-10-27
         增加新数据
    -->
    <insert id="addNotice" parameterType="com.gsxy.core.pojo.Notice">
        insert into
            notice
        values
            (null,#{context},#{imgId},#{name},
             #{createBy},#{createTime},#{updateBy},
             #{updateTime},#{status},#{delFlag});
    </insert>

    <!--
         @author Oh… Yeah!!! 2023-10-27
         更新数据
    -->
    <update id="updateByIdNotice" parameterType="com.gsxy.core.pojo.Notice">
        update notice
        <set>
            <if test="context != null and context != ''">
                context = #{context},
            </if>
            <if test="imgId != null ">
                img_id = #{imgId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="createBy != null ">
                create_by = #{createBy},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag}
            </if>
        </set>
        where
        id = #{id}
    </update>

    <!--
      @author Oh...Yeah!!! 2023-10-28
      分页获取用户数据集合
    -->
    <select id="noticePagingToGetData" resultType="com.gsxy.core.pojo.Notice"
            parameterType="com.gsxy.core.pojo.bo.NoticePagingToGetDataBo">
        select
            *
        from
            notice
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%') and
            </if>
        </where>
            status = #{status} and
            del_flag = #{delFlag}
        limit
            #{start},#{size}
    </select>


</mapper>