<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.OrgMapper">
        
        <!--
            @author zhuxinyu 2023-10-23
                添加班级
        -->
        <insert id="addOrg">
            insert into
                Org
            values
                (null, #{college}, #{grade}, #{name},
                 #{createBy}, #{createTime}, 
                 #{updateBy}, #{updateTime}, 
                 #{status}, #{del_flag} )
        </insert>

        <!--
            @author zhuxinyu 2023-10-23
                删除班级
        -->
        <delete id="deleteByIdOrg">
            delete from Org where id = #{id}
        </delete>

        <!--
            @author zhuxinyu 2023-10-23
                查找班级
        -->
        <select id="selectByIdOrg" resultType="com.gsxy.core.pojo.Org">
            select
                *
            from
                Org
            where
                id = #{id}
            limit 1
        </select>

        <!--
            @author zhuxinyu 2023-10-23
                更新班级
        -->
        <update id="updateByIdOrg">
            update Org
            <set>
                <if test="college != null">
                    college = #{college},
                </if>
                <if test="grade != null and grade != ''">
                    grade = #{grade},
                </if>
                <if test="name != null and name != '' ">
                    name = #{name}
                </if>
                <if test="createBy != null ">
                    create_by = #{createBy},
                </if>
                <if test="createTime != null ">
                    create_time = #{createTime},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="delFlag != null">
                    del_flag = #{delFlag}
                </if>
            </set>
            where
                id = #{id}
        </update>
</mapper>