<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.UserAdminMapper">

    <!--
          @author Oh… Yeah!!! 2023-10-24
          根据Id删除UserAdmin
    -->
    <delete id="deleteByIdUserAdmin" parameterType="java.lang.Long">
        delete from
            user_admin
        where
            id = #{id}
    </delete>


    <!--
         @author Oh… Yeah!!! 2023-10-24
         根据Id查询UserAdmin
    -->
    <select id="selectByIdUserAdmin" resultType="com.gsxy.core.pojo.UserAdmin" parameterType="java.lang.Long">
        select
            *
        from
            user_admin
        where
            id = #{id}
        limit 1
    </select>

    <!--
         @author Oh… Yeah!!! 2023-10-24
         增加新数据
    -->
    <insert id="addUserAdmin" parameterType="com.gsxy.core.pojo.UserAdmin">
        insert into
            user_admin
        values
            (null,#{userId},#{role},#{communityId},#{name},
             #{createBy},#{createTime},#{updateBy},
             #{updateTime},#{status},#{delFlag});
    </insert>

    <!-- 插入发起签到信息到sign_in_admin表中 -->
    <insert id="insertSignInAdmin" parameterType="com.gsxy.core.pojo.SignInAdmin">
        insert into
            sign_in_admin
            (admin_id,create_time)
        values
            (#{adminId},#{createTime})
    </insert>

    <!--
         @author Oh… Yeah!!! 2023-10-24
         更新UserAdmin数据
   -->
    <update id="updateByIdUserAdmin" parameterType="com.gsxy.core.pojo.UserAdmin">
            update user_admin
            <set>
                <if test="userId != null ">
                    user_id = #{userId},
                </if>
                <if test="role != null ">
                    role = #{role},
                </if>
                <if test="communityId != null ">
                    community_id = #{communityId},
                </if>
                <if test="name != null and name != ''">
                    name = #{name},
                </if>
                <if test="createBy != null ">
                    create_by = #{createBy},
                </if>
                <if test="createTime != null ">
                    create_time = #{createTime},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="delFlag != null">
                    del_flag = #{delFlag}
                </if>
            </set>
            where
            id = #{id}
    </update>


    <!--
          @author Oh...Yeah!!! 2023-10-28
          分页获取用户数据集合
    -->
    <select id="userAdminPagingToGetData" resultType="com.gsxy.core.pojo.UserAdmin"
            parameterType="com.gsxy.core.pojo.bo.UserAdminPagingToGetDataBo">
        select
            *
        from
            img
        <where>
            <if test="name != null and name != ''">
                  user_admin like concat('%',#{name},'%') and
            </if>
        </where>
            status = #{status} and
            del_flag = #{delFlag}
        limit
            #{start},#{size}

    </select>

    <!-- 根据admin_id查询sign_in_admin表中相应数据 -->
    <select id="selectToGetByAdminId" resultType="java.lang.Long"
            parameterType="com.gsxy.core.pojo.SignInAdmin">
        select
            id
        from
            sign_in_admin
        where
            admin_id = #{adminId}
        limit 1
    </select>

    <!-- 管理员查看所有签到状态 -->
    <select id="findAllSignInStatus" resultType="com.gsxy.core.pojo.bo.UserSignInStatusBo"
            parameterType="com.gsxy.core.pojo.bo.UserSignInStatusBo">

    </select>

</mapper>